*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
}
section .card .image
{
    height: 140px;
    width: 140px;
    border-radius: 70%;
    padding: 3px;
    background: rgb(19, 8, 29);
    align-items: center;
}

section .card .image img
{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius:50% ;
    border: 3px solid white;

}

.card{
    
    background: white;
    border-radius: 20px;
}

.card .card-content{
    align-items: center;
}
.card .name {
    display: flex;
}

.name .cakename{
    font-size: 20px;
    text-transform: uppercase;
    font-weight:500 ;

}