<app-navbar></app-navbar>


<section class="main">
  <div class="container py-5 h-100">
     
            <form #f="ngForm" *ngIf="!isLoggedIn" name="form"(ngSubmit)="f.form.valid && onSubmit()">
              <h2>login</h2>
              <div *ngIf="avail==false">
             <p>{{message}}</p>
            </div>
            <div class="frame">
             <div>
              
              <input class="input--style-3"
               type="email" placeholder="Email"
                name="email" autocomplete="off" 
                ngModel email  required
               #email="ngModel"  [(ngModel)]="form.email " [ngClass]="{ 'is-invalid': f.submitted && email.errors }">
                       <div *ngIf="email.errors && f.submitted" class="invalid-feedback">
                        Email Id is required!
                      </div>
                      <!-- <div class="alert alert-danger" *ngIf="!avail">Email is already Registered</div> -->
              </div>

              <div>
               <input class="input--style-3" type="password" placeholder="Enter password" name="password"  [(ngModel)]="form.password"
                    required
                    minlength="6"
                    #password="ngModel"
                    [ngClass]="{ 'is-invalid': f.submitted && password.errors }" />
                   <div *ngIf="password.errors && f.submitted" class="invalid-feedback">
                      <div *ngIf="password.errors['required']">Password is required</div>
                      <div *ngIf="password.errors['minlength']">Password must be at least 6 characters</div>
                   </div>
            </div>
              <div>
              <button class="btn btn-success" type="submit">Login</button>
              </div>
      
              <div class="sub">
                  <a [routerLink]="['/register']" id="fp">Create new account</a>    
              </div>
              </div>
        
         
    
     </form>
     </div>
    
    
</section>