.main
{
    height: 100vh;
    background-image: linear-gradient(to right, rgba(115, 143, 106, 0), rgb(39, 46, 41));
 }
 h2{
    margin-top: 0px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
 }

 form{
    height: 350px;
    width: 300px;
    background-color: rgba(245, 238, 238, 0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}
form *{
    font-family: 'Poppins',sans-serif;
    color: #0f0e0e;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
    align-items: center;
}

.frame
{
    margin-top: 10%;
    /* margin-bottom: 50%;
} 

label{
    /* display: block; */
    /* margin-top: 30px;
    font-size: 16px;
    font-weight: 500; */


}
input{
    display: block;
    height: 25px;
    width: 100%;
    background-color: rgba(228, 217, 217, 0.07);
    /* border-radius: 3px; */
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}
::placeholder{
    color: #111111;
    font-weight: 500;
}

.btn
{
    margin-top: 10px;
    margin-left: 70PX;

}
/* button:hover
{
  background-color:rgb(75, 180, 75);
} */

.sub{
  padding-left: 10px;
  margin-left: 20px;
 
}
.sub a{
text-decoration: none;
color: rgb(10, 10, 10);
padding-left: 10px;
}
  
i{
   font-size: larger;
} 