.main
{
    height: 100vh;
    background-image: linear-gradient(to right, rgba(115, 143, 106, 0), rgb(50, 92, 61));
 
}
body{
    
    background-color: #080710;
}


form{
    margin-top: 25px;
    height: 420px;
    width: 500px;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}
form *{
    font-family: 'Poppins',sans-serif;
    color: #0f0e0e;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
form h3{
    font-size: 32px;
    font-weight: 700;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 10px;
}

label{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;

}
input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(59, 57, 57, 0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}
::placeholder{
    color: #111111;
    font-weight: 500;
}
button{
    margin-left: 10PX;
    margin-top: 50px;
    width: 40%;
    background-color: #e9e6e6;
    color: #030303;
    padding: 15px 0;
    font-size: 15px;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
}
button:hover
{
  background-color:rgb(75, 180, 75);
}

.btn
{
    margin-top: 20px;
    margin-left: 150px;
    width: 30%;
}

.sub{
  padding-left: 10px;

 
}
.sub a{
   
text-decoration: none;
color: steelblue;
padding-left: 10px;
}
  