body {
    margin: 0;
    padding-top: 15px;
    width: 100%;
    background: wheat;
    height: max-content;
    margin-bottom: 50px;
  }

  .contact .content h2{
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
  }

  .content{
    font-weight: 700;
    padding-top: 15px;

  }
  
  p{
    font-weight: 500 ;
    font-size: 20px;
  }
  html {
    box-sizing: border-box;
  }
  .container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  
  }
  .container .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
  }
  .container .contactInfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
  }
  .container .contactInfo .box .icon{
    min-width: 50px;
    height: 50px;
    background: rgb(197, 121, 121);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40%;
    font-size: 20px;
  }
  
  
  .container .contactInfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: rgb(15, 15, 15);
    flex-direction: column;
    font-weight: 300;
  }
  
  .container .contactInfo .box .text h3{
    font-weight: 500;
    color:#1e2020;
  }
  