<app-adminnav></app-adminnav>
<section class="main">
    <h2>ADD RECIPE</h2>

    <div class="card">
      <form  (ngSubmit)="add()">
        <div class="inputBox">
          <span>Recipe ID</span>
          <input class="name" type="text" placeholder="Enter Recipe id" name="recipeid"  min="1" ngModel required #recipeid="ngModel" [(ngModel)]="data.recipeid"> 
        </div>
  
    <div class="inputBox">
        <span>Recipe Name </span>
        <input class="name" type="text" placeholder="Enter Recipe name" name="recipename"  min="1" ngModel required #recipename="ngModel" [(ngModel)]="data.recipename"> 
      </div>

      <div class="inputBox">
        <span>Cooking Time</span>
        <input type="number" placeholder="Enter Cooking time(in min)" name="recipename"  min="1" ngModel required #recipename="ngModel" [(ngModel)]="data.cookingtime"> 
      </div>

      <div class="inputBox">
        <form [formGroup]="form" (ngSubmit)="upload()">
          <input  type="file" (change)="uploadFile($event)" name="recipeimage">
          <button  class="btn btn-success" type="submit">UPLOAD</button>
        </form>
        </div>
      <div class="inputBox">
        <span>Count Of Ingredients</span>
        <input type="number" placeholder="Enter no:of Ingredients" name="recipeingredients"  min="1" ngModel required #recipeingredients="ngModel" [(ngModel)]="data.count"> 
      </div>

      <div class="inputBox">
        <span>Ingredients</span>
        <textarea class="textarea" type="text" placeholder="Enter ingredients " name="recipeing"  min="1" ngModel required #recipeing="ngModel" [(ngModel)]="data.ingredients"></textarea> 
      </div>

      <!-- <div>
        <div>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="enter grocery items" id="txtSearch"  name="recipeing"  min="1" ngModel required #recipeing="ngModel" [(ngModel)]="data.ingredients"/>
                <div class="input-group-btn">
                    <button class="btn btn-primary" type="button" (click)="onClick()">ADD</button>
                </div>
            </div>
        </div>
    </div>
    <ul class="list-group">
      <li *ngFor="let item of Ingredient" class="list-group-item">
          <span> {{item}} </span>
      </li>
  </ul> -->

      <div class="inputBox">
        <span>Steps</span>
        <textarea class="textarea1" type="text" placeholder="Enter steps" name="recipesteps"  min="1" ngModel required #recipesteps="ngModel" [(ngModel)]="data.steps">></textarea> 
      </div>
   
    <div class="add">
      <button type="submit" class="btn btn-success">ADD</button>
  </div>
</form>
  </div>
</section>