  <app-loggednav></app-loggednav>
    <div class="CommentFrom">
        <form #f="ngForm" (ngSubmit)="onSubmit(f)">
          <h1>Drop Your Commments</h1>
          <div class="inputBox">
            <textarea name="comment" id="" cols="" rows="" placeholder="Your Comment" ngModel required [(ngModel)]="comment" autocomplete="off"></textarea>
          </div>
          <div class="inputBox">
            <input type="submit" class="btn btn-success" name="" [disabled]="f.invalid" value="Post Comment" required="required">
          </div>
        </form>


 <!-- <h2 mat-dialog-title>Drop Your Commments</h2>
<mat-dialog-content class="mat-typography">
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <h1>Drop Your Commments</h1>
    <div class="inputBox">
      <textarea name="comment" id="" cols="" rows="" placeholder="Your Comment" ngModel required [(ngModel)]="comment" autocomplete="off"></textarea>
    </div>
    <div class="inputBox">
      <input type="submit" class="btn btn-success" name="" [disabled]="f.invalid" value="Post Comment" required="required">
    </div>
  </form> 
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button>
</mat-dialog-actions> -->