body{
    height: 100vh;
    background-image: linear-gradient(to right, rgba(115, 143, 106, 0), rgb(50, 92, 61));
     margin: 0px;
     padding: 0px;
     width: 100vw;
     height: 100vh;
     display: fixed;
     justify-content: center;
     padding-top: 60px;
     align-items: center;
     font-family: 'Lato' !important;
   }
*
{
    /* font-family:'sans-serif'; */
   
}
.CommentFrom
{
    height: 350px;
    width: 600px;
    background: rgb(144, 145, 144);
    padding-top: 15px;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7rem;
    /* margin-bottom: 5rem; */
    
    
    
}
.CommentFrom h1
{
  
     text-align: center;
    color: rgb(12, 12, 12);
    text-transform: uppercase;
    font-weight: 500;
}
.CommentFrom .inputBox
{
    position: relative;
    margin-left:230px;
    width: 600px;
    margin-top: 10px;
  }
.CommentFrom .inputBox textarea
{
    width: 60%;
    height: 200px;
    padding: 5px 0;
    font-size: 20px;
    margin: 2px 0;
    border: none;
    /* border-bottom: 2px solid #333; */
    
  }


  .CommentFrom .inputBox input[type="submit"]
  {
    margin-top: 0px;
    margin-left: 120px;
  }

   
