
    <nav class="navbar navbar-expand-lg ">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item ">
              <a  aria-current="page" [routerLink]="['/']">HOME</a>
              <li class="nav-item"><a [routerLink]="['/adminhome']">VIEW RECIPES</a> </li>
              <li class="nav-item"><a  [routerLink]="['/addrecipe']">ADD RECIPES</a> </li>
              <li class="nav-item"><a href="#c">VIEW COMMENTS</a> </li>
          </ul>
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <!-- <li class="nav-item"><a href="#a">ABOUT US</a> </li>
            <li class="nav-item"><a href="#c">CONTACT US</a> </li> -->
         <li class="nav-item"><a [routerLink]="['/']" (click)="logout()">LOGOUT</a> </li>
            
          </ul>
        </div>
      </div>
    </nav>
 
    <script src="" async defer></script>

    