@import "~bootstrap/dist/css/bootstrap.css";

nav
{
    background-color: rgb(7, 6, 6);
    height: 40px;
}

nav ul li
{
    display: inline;
}

nav ul li a
{
    color: rgb(255, 255, 255);
    padding: 10px;
    
    /* padding-top: 15px; */
    


}
a{
    text-decoration:none
}
 a:hover
{
    background: rgb(56, 122, 59);
    transition: .5s ;
    border-radius: 3px;
    width: 10px;
    
}

html{
    scroll-behavior: smooth;
  }
  

  #mybtn{
    /*    display: none;*/
        position:fixed;
        bottom: 60px;
        right: 20px;
        z-index: 99;
        border: none;
        color: black;
        background:white;
        padding: 10px;
        border-radius: 10px;
    }
  #mybtn:hover{
        color: #191c1d;
  }

